
/* ADD YOUR CUSTOM CSS TO THIS FILE */

body {
  font-family: 'Antonio', sans-serif;
  font-weight: 600;
  color: white

}
.px-4-background-image {
  background-color: black
}

#honorable-mentions {
  background-color: black;
  

}

.navbar-nav .nav-item  {
  color: white;

}





.img-small {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  display: fixed;
  justify-content: center;
  align-items: center;
}

header img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.container-fluid{ 
	text-align: center; }


.img-fluid {
	border: 3px solid white

}
.bg-primary {
	border: 3px solid white
}

.col-lg-8 {
	border: 3px solid white
  border-bottom: 2px solid white;
border-left: 2px solid white;
border-top: none;
border-right: 2px solid white;
}

.col-lg-12 {
	font-weight: bold
  font-size: 50%;

}

.container-px-4 {
  border-color: black
  border-style: solid;
  border: 2px


}


.container {
	background-color: white
	border: 2px white;

}

section:first-of-type {
  background-image: linear-gradient(to right, 
    lightblue, 
    #4169E1);
  border: 2px
  border-style: solid;
  border-color: white;
  border-bottom: 4px solid white;
border-left: 4px solid white;
border-top: none;
border-right: 4px solid white;

}

section:nth-of-type(2) {
  background-image: linear-gradient(to left, 
    gold, 
    teal);
  border-bottom: 4px solid white;
border-left: 4px solid white;
border-top: none;
border-right: 4px solid white;
}

section:nth-of-type(3) {
  background-image: linear-gradient(to right, 
    lightgreen, 
    darkgreen);
  border-bottom: 4px solid white;
border-left: 4px solid white;
border-top: none;
border-right: 4px solid white;
}

section:nth-of-type(4) {
  background-image: linear-gradient(to right, 
    orange, 
    white);
  border-bottom: 4px solid white;
border-left: 4px solid white;
border-top: none;
border-right: 4px solid white;
}

section:nth-of-type(5) {
  background-image: linear-gradient(to right, 
    white, 
    #E31837);
  border-bottom: 4px solid white;
border-left: 4px solid white;
border-top: none;
border-right: 4px solid white;
}
